/*Header*/
.navigationcontainer {
    display: flex;
    flex-direction: column;
}

.navigationbabycontainer {
    display: flex;
    flex-direction: row;
}

.topnavigationsectionforlogo {
    display: flex;
    flex-direction: row;
}

#GoogleLogo {
    width: 120px;
    height: auto;
    margin-top: 35px;
    margin-left: 25px;
    cursor: pointer;
}

#searchbarbackground {
    background-color: rgb(255, 255, 255);
    margin-top: 35px;
    margin-left: 30px;
    box-shadow: 0px 0px 3px rgb(150, 150, 150);
    border-radius: 25px;
}

#searchbarbackground:hover {
    box-shadow: 0px 0px 7px rgb(170, 170, 170);
}

#searchbar {
    display: flex;
    flex-direction: row;
}

#Text {
    background-color: white;
    border: none;
    border-start-start-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 40px;
    padding-left: 15px;
    width: 500px;
    outline: none;
    font-size: 16px;
}

#line {
    padding: 0.5px;
    background-color: rgb(150, 150, 150);
    margin-top: 10px;
    margin-bottom: 10px;
}

#Microphone {
    width:22px;
    height:25px;
    padding: 8px 5px 5px 5px;
    background-color: white;
    margin-left: 10px;
    cursor: pointer;
}

#magniglass {
    width:20px;
    height:20px;
    padding: 8px 5px 5px 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 2px;
    cursor: pointer;
}


.waffleandsignincontainer {
    margin-top: 30px;
    display: flex;
    margin-left: auto;
}

#wafflecontainer:hover {
    background-color: rgba(60,64,67,0.08);
    border-radius: 100px;
    cursor: pointer;
}

#waffle {
    width: 25px;
    height: 25px;
    padding-top: 12px;
    padding-left: 12px;
    padding-right: 10px;
}

#SignIncontainer {
    background-color: #1a73eb;
    color: white;
    padding: 15px 30px 0px 30px;
    border-radius: 4px;
    margin-left: 25px;
    margin-right: 30px;
}

#SignIncontainer:hover {
    background-color: #1b7dfd;
    box-shadow: 0px 0px 1px #000;
}

.anmvimstcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 570px;
    margin-left: 180px;
}

.anmvimcontainer {
    display: flex;
    flex-direction: row;
}

#anmvim, #st {
    padding: 20px 10px 10px 10px;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #5f6368;
}

#anmvim1 {
    color: #1a73eb;
    padding: 20px 10px 10px 10px;
    font-size: 14px;
    font-family: arial, sans-serif;
}

.allline {
    padding: 1.5px;
    margin: 0px 89% 0px 185px;
    background-color: #1a73eb;
}

#anmvim:hover, #st:hover, #anmvim1:hover {
    cursor: pointer;
}

.stcontainer {
    display: flex;
    flex-direction: row;
}

.linecontainer {
    padding: 0.8px;
    background: rgb(241, 241, 241);
}
/*Main*/
.mainbody {
    /*background-color: red;*/
    margin-left: 185px;
    width: 600px;
    height: 1000px;
    display: flex;
    flex-direction: column;
}

.resultscontainer {
    color: #70757a;
    font-size: 14px;
    /*background-color: blue;*/
    padding: 10px 0px 30px 0px;
    font-family: arial,sans-serif;
}

.suggestedcontainer {
    /*background-color: green;*/
}

#webpage {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-family: arial, sans-serif;
}

#website {
    color: #202124;
}

#subtitleofpage {
    color: #5f6368;
}

.websiteheader {
    color: #1a0dab;
    font: 20px arial,sans-serif;
    padding: 5px 0px 5px 0px;
}

.description {
    font: 14px arial,sans-serif;
    color: #4d5156;
}

b {
    font-weight: bold;
}

.peoplealsosearchfor {
    background: transparent;
    width: 600px;
    height: 111px;
    margin-top: 10px;
    border-radius: 8px;
    outline: 1px;
    box-shadow: 0px 0px 1px #000;
    margin-bottom: 20px;
}

.pasf {
    padding-top: 12px;
    padding-left: 10px;
    font: 14px arial, sans-serif;
    color: rgba(0, 0, 0, .57)
}

.contentinpasf {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-left: 10px;
    padding-top: 5px;
    color: #1a0dab;
    font: 14px arial,sans-serif;
}

.peoplealsoaskcontainer {
    background-color: transparent;
    padding: 20px 0px 30px 0px;
}

.paatitle {
    font: 20px arial, sans-serif;
    color: #202124;
    padding: 0px 0px 10px 0px;
}

#paaline {
    padding: 0.8px;
    background-color:rgb(150, 150, 150);
    margin-top: 10px;
}

#paacline {
    height: 0.8px;
    background-color: rgb(150, 150, 150);
    margin-top: 8px;
}

.paacontent {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

#paacp {
    padding: 10px 0px 10px 0px;
}


#lastfeedbacklinecontainer {
    display: flex;
    flex-direction: row;
}

#feedbackline {
    background-color: rgb(150, 150, 150);
    margin-top: 18px;
    margin-bottom: 15px;
    width: 570px;
}

#feedback {
    color: #70757a;
    font: 12px arial, sans-serif;
    margin: 10px;
}
/* Footer */
.countrycontainer {
    display:flex;
    flex-direction: column;
    font-family: arial, sans-serif;
    color:rgba(0, 0, 0, 87);
    width: 100%;
    bottom: 0%;
}

.country {
    background-color: rgb(235, 235, 235);
    padding: 15px 185px;
}

.origin {
    color:rgb(153, 153, 153)
}

.line {
    background-color: rgb(224, 224, 224);
    padding: 1px;
}


.otherinfo {
    background-color: rgb(235, 235, 235);
    display: flex;
}

.belowcountry {
    display: flex;
    padding: 15px 170px;
    color:rgb(153, 153, 153)
}

#HSPT {
    margin-left: 15px;
    cursor: pointer;
}
